<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
        <div class="main-sponsor">
            <span>赞助者</span><br>
            <a href="https://www.upyun.com/league?utm_source=vue&utm_medium=ad&utm_content=con" target="_blank">
                <img src="/images/upyun-main-3.jpg">
            </a>
        </div>
        <a class="become-backer" href="/support-vuejs">
            成为赞助者
        </a>
        <h2>
            <% titles = {api: 'API', examples: '示例', guide: '教程'} %>
                <% if (type !== 'cookbook') { %>
                    <select class="version-select">
                    <option value="SELF" selected>2.0</option>
                    <option value="v1">1.0</option>
                </select>
                    <% } %>
        </h2>
        <ul class="menu-root">
            <% type !== 'api' && type !== 'router' && site.pages.find({type: type}).sort('order').each(function (p) { %>
                <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>

                    <% if (type === 'guide') { %>
                        <% if (fileName === 'installation') { %>
                            <li>
                                <h3>基础</h3>
                            </li>
                            <% } %>
                                <% if (fileName === 'reactivity') { %>
                                    <li>
                                        <h3>进阶</h3>
                                    </li>
                                    <% } %>
                                        <% if (fileName === 'migration') { %>
                                            <li>
                                                <h3>迁移</h3>
                                            </li>
                                            <% } %>
                                                <% if (fileName === 'comparison') { %>
                                                    <li>
                                                        <h3>更多</h3>
                                                    </li>
                                                    <% } %>
                                                        <% } %>
                                                            <% if (type === 'cookbook') { %>
                                                                <% if (p.order === 1.1) { %>
                                                                    <li>
                                                                        <h3>Vue Instance</h3>
                                                                    </li>
                                                                    <% } %>
                                                                        <!-- Move cookbook sections here once they have -->
                                                                        <!-- at least one recipe -->
                                                                        <% } %>
                                                                            <li>
                                                                                <a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>">
                                                                                    <%- p.title %>
                                                                                </a>
                                                                            </li>
                                                                            <% }) %>
                                                                                <% if (type === 'cookbook') { %>
                                                                                    <li>
                                                                                        <h3>Components</h3>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h4>Form Inputs</h4>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h4>3rd-Party Integrations</h4>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h3>Transitions</h3>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h3>Directives</h3>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h3>Vue Router</h3>
                                                                                    </li>
                                                                                    <li>
                                                                                        <h3>Vuex</h3>
                                                                                    </li>
                                                                                    <% } %>
        </ul>
    </div>
</div>